{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<section class="content w-100 mt-5" >
    <h4 class="cards__titulo w-100">Todos os artigos</h4>
    <div class="articles d-flex flex-row container">
        <ul class="articles_list d-flex flex-wrap justify-content-between">
            {% if articles %}
            {% for a in articles%}
            <li class="card article my-4">
                <a href="">
                    <img class="w-100" src="{{a.photo.url}}" alt="foto">
                </a>
                <div class="p-3">
                    <h5 class="card__titulo">{{a.title}}</h5>
                    <div class="card__texto">
                        <p class="card__descricao">{{a.sub_title}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</section>

{% endblock %}